.photos{
    width=100%;
    

   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   background-color: #415f05ad;
    position: absolute;

    z-index: 1;
  
} 

  
.text{
position: absolute;
width: 100%;
padding-top:300px;
text-align: center;
color:#2038b1 ;
font-size: 100px;
z-index: 2;
font-style: normal;
text-decoration: none;
}
a:link {
    text-decoration: none;
  }
