* { 
    margin: 0px;
 }

@font-face {
    font-family: 'stormline';
    src: url('Stormline_PERSONAL_USE_ONLY-Medium.otf');
    }
@font-face {
        font-family: 'stormline_b';
        src: url('Stormline_PERSONAL_USE_ONLY-Bold.otf');
        }
@font-face {
    font-family: 'compangan';
    src: url('Compagnon-Medium.woff2');
    }
@font-face {
        font-family: 'format1452';
        src: url('Format_1452.woff2');
        }

        a:link {
            color: rgb(0, 0, 0);
            background-color: transparent;
            text-decoration: none;
          }
          a:visited {
            color: #051200;
            background-color: transparent;
            text-decoration: none;
          }
          a:hover {
            color: white;
            background-color: transparent;
            text-decoration: underline;
          }
          a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
          }

.outer{
    display: grid;
    grid-template-columns: 1fr;
    border-top: 5px solid #adff2f;
    border-left: 5px solid #adff2f;
    border-right: 5px solid #adff2f;
}    

.title{
    display: grid;
    grid-template-columns: 1fr;
   /*background-color: #415f05ad;*/
    text-align: center;
    padding: 1rem;
}

/* Review CV Contact */
.line2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    padding: 4px;
   /* border: 1px solid #0000ff;*/
    background-color: #628b1083;
    text-align: center;
    font-family: 'stormline_b';
    font-size: 0.8rem;
}

/* Workshops Texts Sketches Proposals */
.line3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #76a12283;
    padding: 1%;
    text-align: center;
    font-family: 'stormline';
    font-size: 1rem;
}


/*whattt*/
.line4{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.1%;
    background-color: #c7db146a;
    padding: 1.8%;
    text-align: center;
    font-family: 'stormline';
    font-size: 1.2rem;
}

/*spatial sound setups*/
.line5{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.5%;
  background-color: #89f9006a;
  padding: 1%;
  text-align: center;
  font-family: 'stormline';
  font-size: 1rem;
}


/* cynk notaat */
.line6{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.1%;
  background-color: #8ec71c6a;
  padding: 1.2%;
  text-align: center;
  font-family: 'stormline';
  font-size: 1rem;
}


/*wetspace 1 + 2 + 3 */
.line7{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0.2%;
  background-color: #a3ff586a;
  padding: 1%;
  text-align: center;
  font-family: 'stormline';
  font-size: 1rem;
}

/*the 4 projects*/
.line8{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1%;
    background-color: #58e2146a;
    padding: 2.2%;
    text-align: center;
    font-family: 'stormline';
    font-size: 0.8rem;
}

.content{
    font-family: 'format1452';
      color: #2a6a30;
      font-size: 1.2rem;
      display: grid;
      grid-template-columns: 1fr;
      position: relative;
      padding: 1vw;
      text-align: center;
}

.weblinks{
    font-family: 'stormline_b';
    color: #205a0d;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

}

/*
.layout{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr ;
        background-color: #3e27230c;
        position: relative;
        padding: 1vw;
        border-width: 20mm;
        border-color: blue;
        text-align: left;
        z-index: 100;
      }

.item {
        background-color: #80cbc300;
        border: 1px solid #fff;
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
      .item2 {
        background-color: #4a0b48;
        border: 5mm solid #ff2121;
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
*/
  h1 {
    font-family: 'stormline', Fallback, sans-serif;
    font-size: 2.5rem;
    /*color: #ffffff; */ 
    color: #415f05;
    text-align: center;
    padding-top: 1.5rem;
  }
  

h2 {
    font-family: 'stormline', Fallback, sans-serif;
    font-size: 1rem;
    color: blue;  
  }

h3{
  font-family: 'compangan';
  font-size: 1.2rem;
  color: rgb(84, 84, 84);

}